{% extends "AcmeDemoBundle::Baselayout.html.twig" %}



{% block body %}
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<a href="#"><img id='banner' src="{{ asset('bundles/acmedemo/images/page1_1.jpg') }}" /></a>
		</div>
		<div class="col-xs-2"></div>
	</div>
	
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8" id='page1_2' >
		<a href="#"><img class='triangle' src="{{ asset('bundles/acmedemo/images/triangle.png') }}" /></a>
		<h4 style='margin-top:8%; text-align: center;'>	One great idea is all it takes to change the world.</h4></br>
		<h4 style='margin-top:0%; text-align: center;'>	At Patent That, we believe in the power of innovation and we created Patent That to put the power back in 
  your hands.  We want inventors take control of the patent process using intuitive tools built for creative 
										people. </h4></br>
			   
   <h3 style='margin-bottom:5%; text-align: center;'>	Get started, think big, and accelerate your innovation. </h3>
			 
		<span>	
		</div>
		<div class="col-xs-2"></div>
	</div>
	
	<div class="row">
		
		<div class="col-xs-2"></div>
		<div class="col-xs-8" id='page1_3'>
		<a href="#"><img class='triangle' src="{{ asset('bundles/acmedemo/images/triangle.png') }}" /></a>
		</br></br></br>
		<span id='text1_page1_3'>SIMPLER</span>
		<span id='text2_page1_3'>BETTER</span>
		<span id='text3_page1_3'>SMARTER</span>
			<button id='button1_page1_3' class='button_page1_3'>
			<span style='text-align:center;'>
			A free-form drawing </br>
			application lets you </br>
			capture thoughts and </br>
			ideas at your own </br>
			pace and in your </br>
			own way.
			</span>   
			</button>
			<button id='button2_page1_3' class='button_page1_3'>
			<span style='text-align:center;'>
			A free-form drawing </br>
			application lets you </br>
			capture thoughts and </br>
			ideas at your own </br>
			pace and in your </br>
			own way.
			</span>   
			</button>
			<button id='button3_page1_3' class='button_page1_3'>
			<span style='text-align:center;'>
			A free-form drawing </br>
			application lets you </br>
			capture thoughts and </br>
			ideas at your own </br>
			pace and in your </br>
			own way.
			</span>   
			</button>
		</div>
		<div class="col-xs-2"></div>
	
	
	</div>
	
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8" id='page1_4'>
			<a href="#"><img class='triangle' src="{{ asset('bundles/acmedemo/images/triangle.png') }}" /></a>
			<div class="row">
			<div id='page1_4_left'>
				<p>Work on what you want, when you want, across multiple platforms.  Our secure cloud based system saves multiple ideas all in one place.  </p></br>
				<p>Insert, sketch, doodle, write - the Patent That sketchpad lets you innovate in your own way, with the help of patent expertise. </p>
			</div>
			
			<div id='page1_4_right'>
				<a href="#"><img id='image_page1_4' src="{{ asset('bundles/acmedemo/images/page1_4.jpg') }}" /></a>
			</div>
			</div>
		</div>
		<div class="col-xs-2"></div>
	</div>
	
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8" id='page1_5'>
			<a href="#"><img class='triangle' src="{{ asset('bundles/acmedemo/images/triangle.png') }}" /></a>
			<div class="row">
			<div id='page1_5_left'>
				<a href="#"><img id='image_page1_5' src="{{ asset('bundles/acmedemo/images/page1_5.jpg') }}" /></a>
			</div>
			
			<div id='page1_5_right'>
				<span style='font-size: 180%;'>At your fingertips are tips, hints, and guidance as to how to flush out your ideas to save time and money when talking to your patent attorney or agent.</br>
				 When you are ready, submit your idea for a low-cost consultation to an advisor who can provide further assistance and help make your invention a patentably reality
				</span>
			</div>
			</div>
		</div>
		<div class="col-xs-2"></div>
	</div>
	
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8" id='page1_6'>
			<a href="#"><img class='triangle' src="{{ asset('bundles/acmedemo/images/triangle.png') }}" /></a>
		<span id='text_image1_6' >Get Started!</span>
		<a href="#"><img id='image_page1_6' src="{{ asset('bundles/acmedemo/images/page1_6.jpg') }}" /></a>
		</div>
		<div class="col-xs-2"></div>
		
	</div>
	
{% endblock %}
