{% extends "AcmeDemoBundle::manage_layout.html.twig" %}
{% block page_js %}    
    <script src="{{ asset('bundles/sketchapp-handel/js/bootbox.js') }}"></script>
    <script src="{{ asset('bundles/sketchapp-handel/js/img-sketchapp-handel.js') }}"></script>      
{% endblock %}  

{% block content %}
    <div class="overlay">            
        <img class="load-waiting" width="150px" height="150px" src="/bundles/sketchapp-handel/img/ajax-loader.gif">            
    </div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-picture"></i> Portfolio</h2>
                </div>
                <div class="box-content">
                    <br>
                    <ul class="thumbnails">
                        {% if filePaths is defined %}
                            {% if numImage >= 0 %}
                                {% for i in 0..numImage-1 %}
                                    <li class="thumbnail">
                                        <img class="small-img" onclick="ImageSketchapp.showLargeImg({{ imgId[i]}}, '{{asset(filePaths[i])}}.jpeg?{{ random(1000) }}', '{{ picnames[i] }}',{{ id }} , '{{ filePaths[i] }}')" src="{{asset(filePaths[i])}}.jpeg?{{ random(1000) }} " title="{{ descriptions[i] }}"/>
                                        <p class="name-img" style= "text-align: center;">{{ picnames[i] }}</p>
                                        <p class="btn-group">
                                            <button onclick =  "ImageSketchapp.renameImg('{{ imgId[i]}}', '{{ id }}')" class="btn btn-xs btn-default fa fa-pencil" title="Rename" ></button>
                                            <button onclick =  "ImageSketchapp.sendViaMail('{{ imgId[i] }}', '{{ filePaths[i] }}')" class="btn btn-success btn-xs fa fa-envelope" title="Send to email"></button>
                                            <button onclick =  "ImageSketchapp.deleteImg('{{ imgId[i]}}', '{{ id }}')" class="btn btn-danger btn-xs fa fa-trash" title="Delete"></button>
                                            <button onclick =  "ImageSketchapp.attornyReview('{{ imgId[i]}}', '{{ id }}')" class="btn btn-warning btn-xs fa fa-legal" title="Submit for Attorney Review"></button>
                                            <button onclick =  "ImageSketchapp.openImageOnSketchApp(parseInt(window.btoa('{{ imgId[i]}}')), '{{ id }}')" class="btn btn-info btn-xs fa fa-paint-brush" title="Open in sketchapp"></button>
                                        </p>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <p style="font-style:italic">Your portfolio is empty </p>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <a class="btn btn-primary" href="{{ path('page_app') }}">           
                        <i class="glyphicon glyphicon-edit"></i>
                        Create New
                    </a>
                </div>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->
{% endblock %}
